{%extends 'base.html'%}
{%block content%}
    <h1 class='citie'>Новости в Новотроицке:</h1>
    {%for i in novotroitsk_news%}
        <div>
        	<h1>{{i.title}}</h1>
            <p>{{i.subtitle}}</p>
            <a href='{%url "article" i.id%}'>Читать далее...</a>
            <p>{{i.pub_date}}</p>
        </div>
    {%endfor%}
    <h1 class='citie'>Новости в Орске:</h1>
    {%for i in orsk_news%}
        <div>
        	<h1>{{i.title}}</h1>
            <p>{{i.subtitle}}</p>
            <a href='{%url "article" i.id%}'>Читать далее...</a>
            <p>{{i.pub_date}}</p>
        </div>
    {%endfor%}
    <h1 class='citie'>Новости в Гае:</h1>
    {%for i in guy_news%}
        <div>
        	<h1>{{i.title}}</h1>
            <p>{{i.subtitle}}</p>
            <a href='{%url "article" i.id%}'>Читать далее...</a>
            <p>{{i.pub_date}}</p>
        </div>
    {%endfor%}
{%endblock%}